.bg-custom{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.855695793942577) 0%, rgba(102,242,228,1) 0%, rgba(156,112,254,1) 100%);
}
.min-vh-100px{
    min-height: 45px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
}
.alert_modify{
    position: fixed;
    top: 20px;
}